/* Define o formulário como um container flexível */
form {
    display: flex;
    flex-wrap: wrap;
}

/* Define os campos de input como itens flexíveis */
input {
    flex-basis: 100%;
    margin-bottom: 10px;
}

/* Define o botão de submit como um item flexível */
input[type="submit"] {
    flex-basis: 100%;
}

/* Define estilos para telas menores */
@media (max-width: 600px) {
    input {
        font-size: 0.8em;
    }
}